<form method="POST">
    <input required type="text" name="text" placeholder="Palavra aqui"/>
    <input required type="number" name="lenght" placeholder="Limite de linhas"/>
    <button type="submit">Quebrar</button>
</form>